@import "./base.css";

.container {
  border: solid 1px var(--color-border);
  inline-size: 100vw;
  block-size: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 20fr;
  grid-template-rows: 2fr 20fr 1fr;

  overflow: hidden;
}

header {
  grid-column: 1/span 3;
  grid-row: 1/span 1;
}

nav {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

aside {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

main {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
}

footer {
  grid-column: 1/span 3;
  grid-row: 3/span 1;
}

nav {
  padding: .5rem 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  & div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }

  & svg {
    scale: 1.3;
    cursor: pointer;
  }

  & .configIcon {
    color: var(--color-text);
  }
}

aside {
  border-left: solid 1px var(--color-border);
  border-right: solid 1px var(--color-border);

  & ul {
    list-style: none;
    padding: 1rem 1.5rem;

    display: flex;
    flex-flow: column nowrap;

    & li {
      padding: .5rem .3rem;

      display: flex;
      align-items: center;
      gap: .8rem;

      border-bottom: solid 1px var(--color-border);

      cursor: pointer;
    }

    & li:hover {
      background-color: var(--color-background-soft);
    }

    & li:last-child {
      inline-size: 100%;
      display: flex;
      justify-content: center;
    }

    & li:last-child::after {
      content: "Novo Contato";
    }
  }
}

main {
  padding: .5rem;

  & .chat {
    block-size: 100%;
    inline-size: 100%;

    display: flex;
    flex-flow: column nowrap;
  }

  & .profile {
    padding-bottom: .5rem;

    display: flex;
    align-items: center;
    gap: .8rem;

    border-bottom: solid 1px var(--color-border);
  }

  & ul {
    inline-size: 100%;
    flex: 1 1 0;
    list-style: none;
    padding: .5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    overflow-y: scroll;

    & .loadMore {
      inline-size: 100%;
      text-align: center;

      & span {
        text-decoration: dashed;
        cursor: pointer;
      }
      & span:hover {
        align-self: center;
        font-weight: 500;

      }
    }

    & .messageLi {
      inline-size: 100%;
      padding: .5rem .3rem;

      display: flex;
      flex-flow: column nowrap;

      & p {
        max-inline-size: 20rem;
        overflow-wrap: break-word;
        text-align: justify;
      }

      & div {
        & span {
          font-size: .7rem;
          opacity: .6;
        }
      }

      & .senderMessage {
        align-self: flex-end;
        text-align: end;
      }

      & .receiverMessage {
        align-self: flex-start;
        text-align: start;
      }

      & svg {
        color: var(--color-text);
      }

      & .fileLi {
        border: solid 1px var(--color-border);
        border-radius: 6px;
        padding: .3rem .6rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
      }
    }

    & .messageLi:hover {
      background-color: var(--color-background-soft);
    }
  }


  & form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;

    & input[type="number"] {
      display: none;
    }

    & input[type="text"] {
      width: 10px;
      flex: 1;
      border: none;
      border-radius: 20px;
      padding: .7rem;
      font-size: 1rem;
      overflow-wrap: break-word;
    }

    & button {
      height: 100%;
      width: 40px;
      position: relative;
      border: none;
      border-radius: 50%;
      padding: .4rem;

      background-color: var(--color-primary);

      & svg {
        position: absolute;
        top: 12px;
        left: 9px;
        scale: 1.3;
        color: #ffffff;
      }
    }

    & .attach {
      cursor: pointer;

      & input[type="file"] {
        display: none;
      }

      & svg {
        top: 10px;
        left: 10px;
        cursor: pointer;

      }
    }
  }
}
::-webkit-scrollbar {
  width: 20px;
}

.profileImg {
  width: 40px;
  height: 40px;
  border: solid 1px var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-primary);
}

.noChat {
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newContactModal {
  z-index: 2;
  inline-size: 100vw;
  block-size: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.445);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    border-radius: 6px;
    padding: 1rem;

    background-color: var(--color-background);
  }

  & label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  & input {
    inline-size: 5rem;
    border: solid 1px var(--color-border);
    border-radius: 6px;
    padding: .5rem;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    background-color: var(--color-background-mute);
    color: var(--color-text);
    text-align: center;
  }

  & input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & .btns {
    margin-top: .8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & button {
      padding: .5rem;
      border: solid 1px var(--color-border);
      border-radius: 6px;
      background-color: var(--color-background-mute);
      color: var(--color-text);
    }

    & .close {
      border-color: var(--color-error);
    }
  }
}

@media (max-width: 1260px) {
  .container {
    grid-template-columns: 2fr 14fr 28fr;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 3fr 18fr 30fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 5fr 15fr;
    grid-template-rows: 1fr 65px 20fr 1fr;

  }

  header {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }

  nav {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }

  aside {
    grid-column: 1/span 2;
    grid-row: 2/span 2;
  }

  main {
    grid-column: 1/span 2;
    grid-row: 3/span 2;
  }

  footer {
    grid-column: 1/span 2;
    grid-row: 4/span 2;
  }

  header {
    border: none;
  }

  nav {
    border: none;
    padding: .5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    & div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1.5rem;
    }

    & svg {
      scale: 1.5;
      cursor: pointer;
    }

    & .configIcon {
      color: var(--color-text);
    }
  }

  aside {
    border-left: none;
    border-right: none;
    border-top: solid 1px var(--color-border);
    border-bottom: solid 1px var(--color-border);

    & ul {
      padding: .5rem;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: .5rem;

      overflow-x: scroll;
      scrollbar-width: none;

      & li {
        padding: 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: .1rem;

        border-bottom: none;
        font-size: .8rem;
        cursor: pointer;
      }

      & li:hover {
        background-color: transparent;
      }

      & li:last-child {
        inline-size: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
      }

      & li:last-child::after {
        content: "";
      }
    }

    & ul::-webkit-scrollbar {
      display: none;
    }
  }

  .profileImg {
    width: 25px;
    height: 25px;
  }

  main {
    border-top: solid 1px var(--color-border);
    padding: 0;

    & .chat {
      inline-size: 100%;
      padding: .5rem;
    }

    & .profile {
      padding-bottom: .5rem;

      display: flex;
      align-items: center;
      gap: .5rem;

      border-bottom: solid 1px var(--color-border);
    }

    & ul {
      flex: .94 1 0;
      block-size: 100%;

      & li {
        & p {
          max-inline-size: 15rem;
        }
      }
    }
  }
}
