@import "./base.css";

.container {
  border: solid 1px var(--color-border);
  inline-size: 100vw;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr 20fr;
  grid-template-rows: 2fr 20fr 1fr;
}

header {
  grid-column: 1/span 3;
}

footer {
  grid-column: 1/span 3;
}

nav {
  padding: .5rem 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  & div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }

  & svg {
    scale: 1.3;
    cursor: pointer;
  }

  & .configIcon {
    color: var(--color-text);
  }
}

aside {
  /* block-size: 80%; */
  border-left: solid 1px var(--color-border);
  border-right: solid 1px var(--color-border);

  & ul {
    list-style: none;
    padding: 1rem 1.5rem;

    & li {
      padding: .5rem .3rem;

      display: flex;
      align-items: center;
      gap: .8rem;

      border-bottom: solid 1px var(--color-border);

      cursor: pointer;
    }

    & li:hover {
      background-color: var(--color-background-soft);
    }
  }
}

main {
  padding: .5rem;

  & .chat {
    block-size: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  & .profile {
    padding-bottom: .5rem;

    display: flex;
    align-items: center;
    gap: .8rem;

    border-bottom: solid 1px var(--color-border);
  }

  & ul {
    flex: 1 1 0;
    list-style: none;
    padding: .5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    overflow-y: scroll;

    & li {
      inline-size: 100%;
      padding: .5rem .3rem;

      display: flex;
      flex-flow: column nowrap;

      & div{
        & span {
          font-size: .75rem;
          opacity: .6;
        }
      }

      & .senderMessage {
        align-self: flex-end;
        text-align: end;
      }

      & .receiverMessage {
        align-self: flex-start;
        text-align: start;
      }

    }

    & li:hover {
      background-color: var(--color-background-soft);
    }
  }

  & form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;

    & input[type="number"] {
      display: none;
    }

    & input[type="text"] {
      flex: 1;
      block-size: 100%;
      border: none;
      border-radius: 20px;
      padding: .7rem;
      font-size: 1rem;
    }

    & button {
      width: 40px;
      height: 40px;
      position: relative;
      border: none;
      border-radius: 50%;
      padding: .4rem;

      background-color: var(--color-primary);

      & svg {
        position: absolute;
        top: 12px;
        left: 9px;
        scale: 1.3;
        color: #ffffff;
      }
    }
  }
}

.profileImg {
  width: 40px;
  height: 40px;
  border: solid 1px var(--color-border);
  border-radius: 50%;
  place-content: center;
  text-align: center;
}

a {
  color: var(--color-primary);
}
