@import './base.css';

.container {
  inline-size: 100vw;
  block-size: 100vh;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-inline-size: 60rem;
  min-inline-size: 15rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border: solid 1px var(--color-border);
  border-radius: 6px;
  padding: 2rem;
}

h1 {
  color: var(--color-heading);
}

nav {
  border: none;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
}

button,
nav a {
  border: solid 1px var(--color-border);
  border-radius: 6px;
  padding: 1rem 2rem;

  background-color: var(--color-background-soft);

  color: var(--color-text);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  border-color: var(--color-border-hover);
  background-color: var(--color-background-mute);
}

.icon {
  color: var(--color-text);

}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  inline-size: 100vw;
  block-size: 100vh;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.685);

  & section {
    border: solid 1px var(--color-border);
    border-radius: 6px;
    background-color: var(--color-background);
    padding: 2rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    gap: 1rem;

    & a {
      color: var(--color-primary);
    }
  }


  & button {
    align-self: flex-end;

    margin-top: 1rem;
    border: solid 2px var(--color-error);
    padding: .6rem 1rem;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  main {
    flex-flow: column-reverse nowrap;
  }

  svg {
    align-items: center;
  }

  nav {
    align-items: flex-end;
  }

  section:nth-child(2) {
    display: flex;
    justify-content: center;
  }
}
